.e1{
	float:left;
    width:570px;
    padding:0 30px 10px 0;
	background-color:blue;
	color:white;
}
.e2{    
	float:right;
    width:570px;
    padding:0 30px 10px 0;
	background-color:blue;
	color:white;
}
.e3{
background-color:red;
color:white;
}
p{
font-family:arial;
}
.e4{
width:600px;
height:350px;
Ї